*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 400;
  background-color: #ffffff;
  color: #000;
  position: relative;
  z-index: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}
p{
  font-size: 20px;
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 114rem;
    margin: 0 3rem;
  }
}

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  z-index: 1;
}

.header img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 60rem;
  z-index: -1;
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 60vh;
  }

  .header img {
    width: 50rem;
  }
}

@media only screen and (max-width: 768px) {
  .header img {
    width: 40rem;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header img {
    width: 35rem;
  }
  .nav.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(132, 205, 250);
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
    z-index: 999;
  }
}

.nav {
  color: #fff;
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(132, 205, 250);
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0.1);
  z-index: 999;
}




.top-nav {
  display: none;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
  color: #fff;
}

.logo h1 span {
  font-weight: bold;
  color: lightskyblue;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-right: 0.5rem;
  font-size: 20px;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-list2 .nav-item .nav-link:hover {
color: black;
}

.nav-item2:hover {
  color: black !important;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    max-width: 40rem;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(132, 205, 250);
    padding: 1rem 1.6rem;
  }

  .top-nav .logo span {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    font-size: 2.3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    color: #222;
    padding: 1rem 0;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

/* Hero*/

.hero {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  color: #fff;
}

.hero h3 {
  font-weight: 400;
}

.hero h1 {
  font-size: 4.5rem;
}

.hero h4 {
  font-size: 2rem;
}

.hero h4 span {
  color: rgb(132, 205, 250);

  font-size: 2rem;
}
a:visited{
    color: #fff;
}

.hero a:link,
.hero a:visited {
  display: inline-block;
  padding: 0.8rem 2.5rem;
  border: 1px solid rgb(132, 205, 250);
  background-color: rgb(132, 205, 250);
  color: #fff;
  margin-top: 2rem;
}

.hero a:hover {
  background-color: transparent;
}

@media only screen and (max-width: 996px) {
  .hero {
    transform: translate(10%, -50%);
  }
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 567px) {
  .hero {
    top: 35%;
  }
  .hero h3 {
    font-size: 1.6rem;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero h4 {
    font-size: 1.6rem;
  }
}

.icons {
  margin-left: 4rem;
  
  
}



.icons span {
  margin-right: 10vw;
}

.icons span {
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.icons span:hover {
  color: rgb(132, 205, 250);
}

.icons2 span:hover {
  color: black !important;
}

@media only screen and (max-width: 567px) {
 
}

/* About */

.section {
  padding: 5rem 0 7rem 0;
  overflow-x: hidden;
}

.about {
  margin-top: 5rem;
}

.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}

.title h1 {
  font-size: 3rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: rgb(132, 205, 250);
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.about-center {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}



.right h1 {
  color: rgb(132, 205, 250);
}

.projectcontainer {
    padding: 20px;
    padding-right: 10%;
    padding-left: 10%;
  margin-top: 5%;
  width: 100vw;
  background-color: rgba(132, 205, 250, .5);
  color: black;
}

.project-pic-container {
  display: flex;
  flex-direction: row;
}

.project-pic {
  align-items: space-between;
  justify-content: space-between;
  margin: 2rem;
  padding: 2rem;
  max-width: 40vw;
  margin-bottom: 3rem;
}

.project-pic img {
  min-height: 100%;
  max-height: 100%;
}

.project-pic img:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 567px) {
.projectcontainer{

    width: 100vw;
    margin-top: 5vh;
    padding-left: 0;
    
    
}
.projectcontainer p {
  margin-left: 10%;
  text-align: center;
}
.projectcontainer h2 {
  margin-left: 10%;
  
}
  .project-pic-container {
    flex-direction: column;
    
    min-width: 100vw;
   
  }
  .project-pic {
    flex-direction: column;
    min-width: 90vw;
    padding: 0;
    
    
  }
}

.sitelink {
  color: black;
  text-decoration: underline;
}

.sitelink:visited {
  color: black;
}

.sitelink:hover {
  color: blue;
  text-decoration: underline;
}

/* Contact Me */

.contact-links {
  margin-top: 10vh;
}

.contact-links li {
  margin-top: 3vh;
  font-size: 28px;
}

.aboutrow {
  display: flex;
}

.aboutcolumn {
  flex: 50%;
  margin-left: 5vw;
}

.aboutexperience {
  font-size: 18px;
  line-height: 1.6
}

.aboutheader {
  text-align: center;
  margin-bottom: 3vh;
}

.languageicon {
  min-width: 65px;
  width: 30%;
}

.techs {
  width: 30%;
  height: 30px;
}

.skillslist {
  flex: 33%;
  text-align: center;
}

.skillslist ul {
  line-height: 50px;
  font-size: 20px;
  margin-bottom: 30px;
  font-style: italic;
}

#resume {
  border-radius: 40px;
  color: black;
}

#resume:hover {
  color: white;
  background-color: rgb(132, 205, 250)
}

@media only screen and (max-width: 867px) {
.about-center .aboutrow{
  flex-direction: column;
}
ul {
  margin-bottom: 0;
  padding-bottom: 0;
}
.techskills {
  margin-top: 5vh;
}
}

.nav-list2 .nav-item .nav-link:hover {
  color: black !important;
}

.nav-list .nav-item .nav-link:hover {
  color: rgb(132, 205, 250)
}

#mail {
  color: white;
}

#git {
  color: white;
}

#linked {
  color: white;
}

.contactlinks {
  color: black;
  text-decoration: underline;
}

.contactlinks:visited {
  color: black;
}

.contactlinks:hover {
  color:blue;
}